{
	#
	# Global configurations
	#
	"global":
	{
		#
		# Remote machine configuration
		#
		"remote" :
		{
		    "user": "flamebox",
		    "password" : "flamebox",
		    "path" : "~/flamebox"
		},

		#
		# Local information
		#
		"tmppath" : "~/flamebox",

		#
		# Notification configuration
		#
		"email" : "k.radhakrishnan@icloud.com"
	},

	#
	# Flamebox environment configurations
	#
	"env":
	{
		"machine": "127.0.0.1",
		"jobs":
		[
		    "debug-unit-test.flamebox",
		    "valgrind-debug-unit-test.flamebox",
		    "opt-unit-test.flamebox",
		    "valgrind-opt-unit-test.flamebox"
		]
	}
}
